header {
    background-color: #1a142c;
    color: #fff;
    padding: 1rem;
    font-size: x-large;
}
stopWatch{
    display:inline-block;
}

course{
    display:inline-block;
    padding-left: 120px;
    font-size: xx-large;
}

trainer{
    float:inline-end;
}
.material{
    display:inline-block;
    border:2px solid white;
    font-size: medium;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;;
}

button{
    margin-left:5px;
    border-radius: 10px;
}